body{
	font-size: 16px;
	background: white;
	font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  background-color: #c1c1c1;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.logo {
  width: 150px;
  height: 50px;
  margin: 10px;
  background-image: url('../images/brand.png');
  background-position: center;
  background-repeat: no-repeat;
  }
/*.logo h1 {
  padding: 18px;
  font-size: 1.5em;
  color: #393432;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}*/
.navbar-header a:hover {
  text-decoration: none;
  cursor:pointer
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  font-size: 1.5em;
  color: #393432;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover {
  text-decoration: none;
  cursor:pointer
}
li {
  margin-top: 10px;
}
.brand {
  height: 60px;
  width: 100%;
  background-image: url('../images/brand.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.bird-box {
  position: relative;
  height: 500px;
  background: url('../images/bird-bg.jpg');
  size: auto 500px;
  position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url('../images/fore-bird.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 300px;
}
.back-bird {
  width: 960px;
  height: 298px;
  background-image: url('../images/back-bird.png');
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}
/*** Index Content ***/
.content {
  padding: 10px;
  margin-bottom: 50px;
}
article > h1,p {
  color: black;
  text-align: center;
  position: relative;
}
#row-home {
  margin-bottom: 25px;
}
#about, #work, #contact {
  width: 100%;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#about:hover, #work:hover, #contact:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
  text-decoration: none;
  cursor:pointer
}
#about span, #work span, #contact span {
  position: relative;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/*** About ***/
.content h3 {
  text-align: center;
}
/*** Work, Box and Row ***/
.services {
  margin: 50px;
  align: center;
  background: url(" ");
}

.countdown{
  position: relative;
  border: 1px solid white;
  padding: 10px;
  margin: 10px auto 10px;
}
.timer {
  font-size: 40px;
}
.box {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 10px;
  padding: 5px;  
  float: left;
  border: 1px solid #fff;
  background: black;
  border-radius: 5px;
}
.box a {
  top: 90px;
  right: 145px;
}
.row div {
  position: relative;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
}
.row div.is-showing {
  opacity: 0.3;
  transform: translateX(0px);
}
/*** Contact ***/
.contact-form {
  margin: 40px 10px 40px 10px;
}
/*** Footer ***/
.footer {
  background-color: #a9a9a9;
  position: relative;
}
#inline li {
    display:inline;
    margin-left: 20px;     
}


